[submodule "riscv-qemu"]
	path = riscv-qemu
	url = https://github.com/riscv/riscv-qemu.git
[submodule "riscv-linux"]
	path = riscv-linux
	url = https://github.com/riscv/riscv-linux.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "openwrt"]
	path = openwrt
	url = https://github.com/xfguo/riscv-openwrt
