CONFIG_TARGET_riscv64=y
CONFIG_TARGET_riscv64_Default=y
CONFIG_TARGET_BOARD="riscv64"
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
# CONFIG_BINUTILS_USE_VERSION_2_29_1 is not set
CONFIG_BINUTILS_USE_VERSION_2_30=y
CONFIG_BINUTILS_VERSION="2.30"
CONFIG_BINUTILS_VERSION_2_30=y
CONFIG_EXTRA_BINUTILS_CONFIG_OPTIONS="--with-abi=lp64d --with-arch=rv64imafdc"
CONFIG_EXTRA_GCC_CONFIG_OPTIONS="--with-abi=lp64d --with-arch=rv64imafdc"
# CONFIG_GDB is not set
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=256
# CONFIG_USE_LIBSTDCXX is not set
CONFIG_USE_UCLIBCXX=y
