CONFIG_TARGET_riscv64=y
CONFIG_TARGET_riscv64_Default=y
CONFIG_TARGET_BOARD="riscv64"
CONFIG_DEVEL=y
CONFIG_TOOLCHAINOPTS=y
# CONFIG_BINUTILS_USE_VERSION_2_29_1 is not set
CONFIG_BINUTILS_USE_VERSION_2_29_RISCV=y
CONFIG_BINUTILS_VERSION="riscv-2.29"
CONFIG_BINUTILS_VERSION_2_29_RISCV=y
# CONFIG_GDB is not set
CONFIG_EXTERNAL_KERNEL_TREE="_EXT_KERNEL_TREE_"
CONFIG_KERNEL_GIT_REF="riscv-port-v2-wip"
CONFIG_TARGET_EXT4_BLOCKSIZE=4096
CONFIG_TARGET_EXT4_BLOCKSIZE_4K=y
CONFIG_TARGET_EXT4_RESERVED_PCT=0
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=256
# CONFIG_USE_LIBSTDCXX is not set
CONFIG_USE_UCLIBCXX=y
